.header {
    background-image: url("../../../images/bg-desktop-light.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    padding-top: 70px;
    height: 300px;

    margin: auto auto;
    /* display: flex; */
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 540px;
    color: #fff;
}

.themeToggle {
    width: 26px;
    height: 26px;
}